@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poppins&display=swap");
.shown {
  transform: translate(0) !important;
}
html{
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  font-family: poppins;
}
.hi-font {
  font-family:Nanum Pen Script;
}
.hover-underline-animation {
    display: inline-block;
    font-weight: 400;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
